/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Commit 1 */


/* commit 2 */


/* commit 3 */


<<<<<<< HEAD
/* commit 4 */
=======
/* commit 4  */
>>>>>>> 295e33f (testing all)
